[Unit]
Description=addrindexrs_uno rust server

[Service]
Type=simple
ExecStart=/path/to/addrindexrs_uno/target/release/addrindexrs_uno -vvvv --db-dir /path/to/addrindexrs_uno/db/
Restart=on-failure
RestartSec=60
Environment="RUST_BACKTRACE=1"

# Hardening measures
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
